--find-links=https://github.com/attakei-lab/sphinxcontrib-oembed/releases
jupyter_sphinx==0.4.0
jupyterlab==3.4.3
panel==0.13.1
param==1.12.2  # due to panel bug
pyvista
sphinx-panels==0.6.0
sphinx-panels==0.6.0
sphinx-revealjs
sphinxcontrib-budoux
sphinxcontrib-gtagjs
sphinxcontrib-oembed
sphinxemoji
